*{
    margin: 0px;
    padding: 0px;
}
.header{
    padding: 10px 10px 10px 10px
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
}
.text {
color:gray
}
li {
margin: 0px 0px 0px 100px
}
h2{
margin: 0px 0px 0px 80px
}
