<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="utf-8" />
<title>Название сайта</title>
</head>
<body>

<table align="center" rules="rows" style="width:100%;">
<tr>
<td>

    <table border="1" bgcolor="#243D3F" cellpadding="10" style="width:100%; border-radius:5px">
        <tr>
        <th>
            <h1 style="color:#38C112">Компьютерный помощник</h1>
            <nav>
            {% if current_user.is_authenticated %}
                <a class="navbar-brand" href="/logout"><p>Выйти</p></a>
            {% else %}
                <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
                <a class="btn btn-success" href="/login">Войти</a>
            {% endif %}
        </nav>
            <form name="startpage" method="POST" action="/homepage">
                <button type="submit" name="submit" value="success" class="btn btn-default">Главное меню</button>
            </form>
        </th>
        </tr>
    </table>


    <table border="1" bgcolor="#A9EDF2" cellpadding="30" style="width:100%; border-radius:5px; ">
        <tr>
        <td rowspan="2" style="width:80%">
            <h2 style="color:#38C112">Что нужно, чтобы собрать компьютер самому?</h2>
            <!--Начинаем абзац с красной строки-->
            <p style="text-indent:20px">
            В каждом системном блоке может быть разное количество комплектующих.
                Но, как ни крути, есть основные компоненты, которые присутствуют в каждой сборке. Это материнская плата, блок питания, процессор с кулером, видеокарта, оперативная память, корпус и накопитель. Из этого списка в некоторых случаях можно убрать, разве что, видеокарту, которая может быть встроенной в процессор. Такое решение вполне логично для офисного компьютера, но для игрового наличие графического акселератора обязательно. </p>
            <p style="text-indent:20px">Для того чтобы всё железо заработало,
                необходимо подбирать его таким образом чтобы оно было полностью совместимо
                друг с другом. При соблюдении этого правила ваш ПК гарантированно заведется
                после сборки, ведь многие параметры компьютерного железа строго регламентированы.
                Поэтому у вас не получится, например, воткнуть ОЗУ типа DDR4 в разъемы типа
                DDR3 на материнской плате. Ниже мы расскажем подробнее про каждую комплектующую,
                а пока давайте разберемся с порядком подбора компонентов.</p>
            <h2 style="color:#38C112">Устанавливаем блок питания</h2>
            <p style="text-indent:20px">Хотя блок питания в большинстве случаев выбирается в последнюю очередь (потому что нужно знать, сколько будут суммарно потреблять все комплектующие, и от этого отталкиваться), мы рекомендуем начинать сборку компьютера именно с его установки внутрь корпуса. Почему БП следует ставить первым? Потому что из всех комплектующих он самый большой по размерам. Если устанавливать его на финальном этапе, можно случайно повредить остальные компоненты.
                Тем более что блок питания довольно тяжелый, и его легко выронить из рук.</p>
            <p style="text-indent:20px">Вторая причина — кабель-менеджмент. Если вы не хотите, чтобы ваши провода торчали во все стороны, нужно аккуратно протянуть их под задней крышкой корпуса. Это не только обезопасит остальное железо от нежелательного контакта с кабелями, но и придаст вашему компьютеру более ухоженный вид, пусть и изнутри.</p>
            <p style="text-indent:20px">Для того чтобы установить БП внутрь корпуса, вам понадобится 4 винтика, которые всегда идут в комплекте. Их нужно закрутить в соответствующие отверстия на тыльной стороне комплектующей, где находится разъем для кабеля, который питает блок от сети. В зависимости от вашего корпуса, БП может устанавливаться, как сверху, так и снизу.</p>
            <p style="text-indent:20px">При выборе блока питания следует ориентироваться на несколько основных (если мы говорим только о совместимости компонентов) параметров. Во-первых, это форм-фактор. Он должен соответствовать форм-фактору вашего корпуса, иначе блок просто не влезет внутрь корпуса. Во-вторых, это номинальная мощность. Она должна превышать пиковое потребление всего вашего железа на 20-30%. В-третьих, это количество и тип разъемов. Блок питания питает практически все комплектующие: процессор, материнскую плату, видеокарту, накопители. Все кабели должны иметь соответствующий тип. Если видеокарте нужен 6-pin коннектор, то и на блоке такой должен быть. И так со всем остальным железом.</p>
             <h2 style="color:#38C112">Устанавливаем материнскую плату</h2>
            <p style="text-indent:20px">После установки блока питания желательно максимально оснастить материнскую плату и установить ее внутрь корпуса. Под максимальным оснащением мы подразумеваем: установку процессора в сокет, установку кулера на процессор, установку всех планок оперативной памяти. И только видеокарту следует отложить в конец списка. Почему именно так? Сейчас объясним специально для тех, кто в первый раз решает задачу собрать ПК самому с нуля:.</p>
            <p style="text-indent:20px">Намного проще установить всё железо на материнскую плату снаружи корпуса, когда ваши руки не скованы пространством. И очень сложно сделать всё это внутри корпуса, когда пространство ограничено. А видеокарту мы не советуем устанавливать сразу вместе со всеми остальными комплектующими по причине того, что современные GPU очень громоздкие и способны закрывать сразу несколько слотов. Отсюда возникает проблема подключения корпусных проводов, которые отвечают за USB-разъемы, аудио, перезагрузку и включение компьютера. А они всегда, как и видеокарта, находятся в нижней части материнской платы.</p>
            <p style="text-indent:20px">Сама установка материнской платы очень проста. Достаточно просто закрутить шурупы в соответствующие разъемы. Намного сложнее выбрать материнку. Во-первых, она должна иметь сокет, который поддерживает процессор. Также слоты под оперативную память должны иметь такой же тип, как сама ОЗУ. Не забудьте проверить количество слотов и максимально поддерживаемый объем памяти. Ко всему прочему форм-фактор материнской платы, как и в случае с блоком питания, должен быть совместим с корпусом. </p>
            <h2 style="color:#38C112">Устанавливаем ЦПУ и систему охлаждения</h2>
            <p style="text-indent:20px">Один из самых простых шагов во всей сборке. У каждого процессора в левом нижнем углу есть маркировка в виде треугольника. Такой же значок имеется и на сокете на материнской плате. Они должны совпасть таким образом, чтобы оба находились в одном углу. Перед установкой не забудьте отогнуть соответствующую защелку на месте установки ЦПУ. После того, как «камень» установлен в сокет, защелку необходимо вернуть в изначальное положение. Таким образом, вы зафиксируете комплектующую. Будьте предельно аккуратны, чтобы не погнуть ножки процессора.</p>
            <p style="text-indent:20px">После этого на крышку процессора наносится термопаста и устанавливается кулер. Если ЦПУ приобретался боксового формата, то на основании радиатора кулера уже будет нанесен термоинтерфейс. Наносить еще один на крышку процессора не нужно! Как правило, охлаждение, как и блок питания, фиксируется 4 винтиками, которые находятся на материнской плате чуть дальше от каждого угла процессора. </p>
            <p style="text-indent:20px">При выборе процессора следует учитывать сокет. Он должен быть совместим с материнской платой и кулером. Система охлаждения, помимо соответствующего сокета, должна справляться с теплом, которое выделяет процессор. Также смотрите и на габариты вертушки: в спецификациях к каждому корпусу указываются рекомендуемые параметры высоты системы охлаждения.</p>
            <h2 style="color:#38C112">Устанавливаем материнскую плату</h2>
            <p style="text-indent:20px">ОЗУ достаточно просто воткнуть в соответствующие слоты. По краям посадочных мест находятся защелки: их необходимо отогнуть и вставить планки. О правильной установке можно судить по характерному щелчку, который означает, что фиксаторы вернулись в исходное положение. В этом деле не потребуется даже отвертка.</p>
            <p style="text-indent:20px">При выборе модулей следует обращать внимание на их тип: этот тип должна поддерживать материнская плата. Планки DDR4 ни при каких условиях не встанут в слоты, предназначенные для DDR3. Также учитывайте и тот факт, что планки могут не встать в посадочные места из-за того, что им будет мешать массивный радиатор системы охлаждения процессора. Этот параметр редко указывается в спецификациях. Поэтому перед тем, как собрать компьютер самому из комплектующих, обязательно уточните у продавца совместимость железа.</p>
            <h2 style="color:#38C112">Собираем компьютер вручную: видеокарта</h2>
            <p style="text-indent:20px">Как собрать игровой компьютер самостоятельно? Конечно, с использованием дискретной видеокарты. Установка графического адаптера схожа с установкой оперативной памяти. Его необходимо поставить в соответствующий слот, который находится в нижней части материнской платы. На коннекторе также имеется защелка, которую нужно отогнуть перед установкой комплектующей, и которая также защелкнется, если установить GPU до конца. Но делать это следует в последнюю очередь. Как мы и писали выше, карточка может перекрыть остальные разъемы, например, которые отвечают за подключение жестких дисков. Поэтому видеокарту следует устанавливать в самую последнюю очередь. Сначала подключите все провода!</p>
            <p style="text-indent:20px">При выборе графического акселератора следует ориентироваться исключительно на его производительность, потому что все современные видеокарты совместимы со всеми современными материнскими платами, предназначенными для домашнего пользования. Не забудьте обратить внимание на габариты устройства. В спецификациях к корпусу разработчики указывают максимальную длину видеокарты.</p>
            <h2 style="color:#38C112">Накопители и корпус</h2>
            <p style="text-indent:20px">В любом корпусе есть посадочные места для накопителей. В каких-то HDD фиксируются с помощью винтиков, которые необходимо вкрутить прямо в корпус. А в каких-то есть соответствующие корзины, куда просто плотно устанавливается винчестер. При выборе жесткого диска следует ориентироваться на разъемы, которые сможет запитать ваш БП. Также обратите внимание на количество посадочных мест в корпусе: в каждой модели разное количество. По идее можно вообще никак не фиксировать ваш винчестер или SSD, но в таком случае он будет болтаться и сможет повредить другие комплектующие. А если сложить несколько жестких дисков друг на друга, то это чревато перегревом. Правильно всё же установить диски в соответствующие места.</p>
            <p style="text-indent:20px">На последнем этапе не забудьте закрыть боковую крышку. В открытом корпусе нарушаются воздушные потоки, и охлаждение компонентов ухудшается. В закрытом корпусе, как и полагается, холодный воздух, который поступает снизу, полностью продувает всё железо и в горячем состоянии выходит сверху корпуса. На этом процесс сборки завершен, и ваш компьютер готов к работе.</p>
        </td>




    <table border="1" bgcolor="#243D3F" height="100" cellpadding="10" style="width:100%; border-radius:5px;">
    <tr>
    <th>
        <h3 style="color:#38C112">2021-создание сайта</h3>
    </th>
    </tr>
    </table>

</td>
</tr>
</table>
</body>
</html>