<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="utf-8" />
<title>Название сайта</title>
<style>
   h1 {
    background: #D9FFAD; /* Цвет фона под заголовком */
    color: green; /* Цвет текста */
    padding: 10px; /* Поля вокруг текста */
    margin: 10px
   }
  </style>
</head>
    <body>
    <header>
        <div class="container">
            <h1 style="color:#cc3333; text-align:center">Шапка</h1>
        </div>
    </header>
    <div class="main">
        <div class="container"></div>
    </div>
    <footer>
        <div class="container"></div>
    </footer>
    </body>
</html>